/* MENU */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f3ef;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: center;
  padding: 8px;
}

.menu {
  display: flex;
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.menu a:hover {
  color: #87a696;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #f7f3ef;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  nav {
    padding: 20px;
  }
}

/* FOOTER */
footer {
  background-color: #f7f3ef;
  padding: 1rem;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

footer li {
  margin-bottom: 0.3rem;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  color: #87a696;
}

.footer-left {
  display: flex;
  gap: 0.5rem;
}

.footer-left a {
  color: #000000;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-left a:hover {
  color: #87a696;
}
